.BidList {
    height: 700px;
}

.BidItem {
    margin-top: 0.5em;
    display: box;
}

.BidUserPicture {
    margin-left: 0;
    float: left;
}

.BidUserName {
    margin-left: 1em;
    float: left;
    font-size: 1.5em;
    height: 100%;
    padding: 10px;
}

.BidAmount {
    float: right;
    font-size: 1.5em;
    margin-right: 1em;
    height: 100%;
    padding: 10px;
}